extends layout 

block content 
    h1 Add Book 

    form(method="POST", action="/books/add")

        #form-group 
            label Title: 
            input.form-control(name="title", type="text")
        #form-group 
            label Author: 
            input.form-control(name="author", type="text")
        #form-group 
            label Pages: 
            input.form-control(name="pages", type="text")
        #form-group 
            label Genres: 

            for genre in genres
                input.form-control(name="genres", type="checkbox", value=genre)
                label=genre

        #form-group 
            label Rating: 
            input.form-control(name="rating", type="text")

        input.btn.btn-primary(type="submit", value="Submit")